* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "subtf";
  src: url("../assets/Kavivanar-Regular.ttf");
}
@font-face {
  font-family: "textf";
  src: url("../assets/LeagueSpartan-VariableFont_wght.ttf");
}
@font-face {
  font-family: "titlef";
  src: url("../assets/Metrophobic-Regular.ttf");
}
body {
  background-image: url(../assets/portafolio-bg-dsktop.png);
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.2fr 0.5fr;
  /*primer div*/
  /*2do div*/
}
.grid-main .grid-div1 {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
}
.grid-main .grid-div1 .texto-inicial {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.grid-main .grid-div1 .texto-inicial .titulo {
  color: #8AF927;
  font-family: "titlef";
  font-size: 48px;
  margin-top: 30px;
  margin-left: 30px;
  text-shadow: 4px 4px 2px #000000;
}
.grid-main .grid-div1 .img-inicial {
  display: flex;
  justify-content: end;
  align-items: end;
}
.grid-main .grid-div1 .img-inicial img {
  margin-top: 30px;
  margin-right: 30px;
  /*estilo imagen redonda*/
}
.grid-main .grid-div2 {
  display: flex;
  justify-content: space-around;
  align-items: start;
  height: 100%;
}
.grid-main .grid-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 100%;
  height: auto;
}

.txt {
  list-style: none;
  padding: 15px;
  border-radius: 10px;
  color: #FFE4ED;
  font-family: "textf";
  font-size: 18px;
  margin-top: 30px;
  margin-left: 30px;
  background-color: rgba(50, 50, 50, 0.8);
  border: 2px solid #8AF927;
  /*estilo textos planos*/
}
.txt li {
  margin: 5px;
}

.subt {
  color: #8AF927;
  background-color: rgba(50, 50, 50, 0.6);
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 4px 4px 2px #000000;
  font-size: 36px;
  font-family: "subtf";
  margin-top: 30px;
  margin-left: 30px;
  /*estilo h2*/
}

.carousel-pos {
  display: flex;
  width: 70%;
  border: 4px solid #8AF927;
  border-radius: 15px;
  box-shadow: 5px 5px 2px #000000;
}

.img-car-style {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(21, 21, 21, 0.8);
  border-radius: 15px;
  transition: transform 0.7s ease, box-shadow 1s ease;
}
.carousel-caption a, .carousel-caption h5 {
  text-decoration: underline;
  color: #8AF927;
}
.carousel-caption:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 1px 0px 6px #8AF927, 0px 1px 6px #8AF927;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 530px) {
  body {
    background-image: url(../assets/portafolios-bg-mbl.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
  .grid-div1 {
    display: flex !important;
    flex-direction: column;
  }
  .grid-div2 {
    display: flex;
    flex-direction: column;
  }
  img {
    margin: 0;
  }
  .txt {
    padding: 5px;
    border-radius: 10px;
    color: #FFE4ED;
    font-family: "textf";
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(50, 50, 50, 0.8);
    border: 2px solid #FEACC6;
    /*estilo textos planos*/
  }
  .txt li {
    margin: 0px;
  }
  .subt {
    color: #FEACC6;
    width: 50%;
    background-color: rgba(50, 50, 50, 0.6);
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 4px 4px 2px #000000;
    font-size: 24px;
    font-family: "subtf";
    margin-top: 10px;
    margin-left: 10px;
    /*estilo h2*/
  }
  .img-inicial {
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  .img-inicial img {
    width: 50%;
    margin-top: 20px;
    margin-right: 20px;
    /*estilo imagen redonda*/
  }
}
@media only screen and (min-width: 530px) and (max-width: 1090px) {
  body {
    background-size: cover;
  }
  .grid-div1 {
    display: flex !important;
    flex-direction: column;
  }
  .grid-div2 {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  .texto-inicial {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    text-align: center;
  }
  img {
    margin: 0;
  }
  .txt {
    padding: 5px;
    border-radius: 10px;
    color: #FFE4ED;
    font-family: "textf";
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: rgba(50, 50, 50, 0.8);
    border: 2px solid #FEACC6;
    /*estilo textos planos*/
  }
  .txt li {
    margin: 0px;
  }
  .subt {
    color: #FEACC6;
    width: 50%;
    background-color: rgba(50, 50, 50, 0.6);
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 4px 4px 2px #000000;
    font-size: 24px;
    font-family: "subtf";
    margin-top: 10px;
    margin-left: 10px;
    /*estilo h2*/
  }
  .img-inicial {
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  .img-inicial img {
    width: 50%;
    margin-top: 20px;
    margin-right: 20px;
    /*estilo imagen redonda*/
  }
}

/*# sourceMappingURL=style.css.map */
