@media only screen and (max-width: 530px) { 
    body {
       // background-image: url(../assets/portafolios-bg-mbl.png);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }
    .grid-div1 {
        display: flex !important;
        flex-direction: column;
        .titulo{
            background-color: rgba($color: #323232, $alpha: 0.6);
        }
    }
    .grid-div2 {
        display: flex;
        flex-direction: column;
    }
    .grid-div3{

    }
    img {
        margin: 0;
    }
    .txt{
        padding: 5px;
        border-radius: 10px;
        width: 80%;
        li {
            margin: 0px;
        }
        color: #FFE4ED;
        font-family: 'textf';
        font-size: 14px;
        margin-top: 10px;
        margin-left: 10px;
        background-color: rgba($color: #323232, $alpha: 0.8);
        box-shadow: 
        2px 2px 6px #8AF927,
        -2px -2px 6px #8AF927;
        /*estilo textos planos*/
    }
    .subt {
        color: #8AF927;
        width: 50%;
        background-color: rgba($color: #323232, $alpha: 0.6);
        padding: 5px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 
        4px 4px 2px #000000;
        font-size: 24px;
        font-family: 'subtf';
        margin-top: 10px;
        margin-left: 10px;
        /*estilo h2*/
    }
    .img-inicial{
        display: flex;
        align-items: center;
        justify-content: center !important;
        img {
            width: 50%;
            margin-top: 20px;
            margin-right: 20px;
            /*estilo imagen redonda*/
        }
    }
}

@media only screen and (min-width: 530px) and (max-width: 1090px) {
    body {
        background-size: cover;
    }
    .grid-div1 {
        display: flex !important;
        flex-direction: column;
    }
    .grid-div2 {
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }
    .texto-inicial{
        
        display: flex;
        flex-direction: column;
        align-items: center !important;
        text-align: center;
    }  
    img {
        margin: 0;
    }
    .txt{
        padding: 5px;
        border-radius: 10px;
        li {
            margin: 0px;
        }
        color: #FFE4ED;
        font-family: 'textf';
        font-size: 14px;
        margin-top: 10px;
        margin-left: 10px;
        background-color: rgba($color: #323232, $alpha: 0.8);
        border: 2px solid #8AF927;
        /*estilo textos planos*/
    }
    .subt {
        color: #8AF927;
        width: 50%;
        background-color: rgba($color: #323232, $alpha: 0.6);
        padding: 5px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 
        4px 4px 2px #000000;
        font-size: 24px;
        font-family: 'subtf';
        margin-top: 10px;
        margin-left: 10px;
        /*estilo h2*/
    }
    .img-inicial{
        display: flex;
        align-items: center;
        justify-content: center !important;
        img {
            width: 50%;
            margin-top: 20px;
            margin-right: 20px;
            /*estilo imagen redonda*/
        }
    }

}