@font-face {
    font-family: 'subtf';
    src: url('../assets/Kavivanar-Regular.ttf');
}
@font-face {
    font-family: 'textf';
    src: url('../assets/LeagueSpartan-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'titlef';
    src: url('../assets/Metrophobic-Regular.ttf');
}